<div id="opener_about_us">
</div>

<div id="middle_content">
	
	<h2>About Portray Advertising</h2>
	
	<p class="text">As the world continues to advance, advertiser’s jobs have become increasingly more difficult.   Viewers are now capable of skipping over 		commercials, newspapers are no longer the go-to source for information and ad-free radio subscriptions are on the rise.  This is not to say that traditional advertising cannot be successful, but a progressive approach must be taken. With 90% of Canadians visiting the mall at least once a month and 62% of all mall visitors eating at a food court, Portray Advertising has created a sophisticated food tray that allows businesses to insert advertisements and engage with daily shoppers.</p>

<div style="clear:left;padding-top:10px;">
	<%= image_tag "/assets/portray_pics/tray_overlaps_375.png", alt: "Portray Product", style: "float:left;", id: "framed" %>
	<%= image_tag "/assets/portray_pics/black_tray2_375.png", alt: "Portray Product", style: "float:left;margin-left:18px;", id: "framed" %>
</div>

	<p id="quote">Our innovative design is water-clear transparent to ensure high visibility and has enhanced ergonomics to improve balance and ease of holding.</p>

</div>
