<div id="opener_ad_solutions">
</div>

<div id="middle_content">
	
	<h2>Advertising Solutions
		<span class='st_email icon_right'></span>
		<span class='st_linkedin icon_right'></span>
		<span class='st_twitter icon_right'></span>
		<span class='st_facebook icon_right'></span>
	</h2>
	
	<p class="text">Portray Advertising provides a unique and innovative marketing solution for all businesses.  Our out-of-home methodology provides an interactive and effective means of communicating with potential and existing customers.   With consumers spending a substantial amount of time eating per day, Portray Advertising allows businesses to capitalize on this face time through marketing initiatives on food trays.  This extended exposure relative to other media channels, enhances marketing influence because of increased retention. The additional benefits of our marketing platform are:</p>

	<ul id="benefits">
		<li>A media free environment ensures high visibility; no competing messages or distractions</li>
		<li>Advertising in a social environment acts as a catalyst for word of mouth advocates</li>
		<li>We provide an opportunity to integrate traditional and digital media platforms</li>
		<li>Consumers directly interact with our advertising medium ensuring your ads get noticed</li>
		<li>purchasing state of mind and within close proximity of stores increased relevancy</li>
	</ul>
	
	<div>
		<%= image_tag "/assets/portray_pics/black_tray2_375.png", alt: "Portray Product", style: "float:left;", id: "framed" %>
		<%= image_tag "/assets/portray_pics/tray_overlaps_375.png", alt: "Portray Product", style: "float:left;margin-left:18px;", id: "framed" %>
	</div>

	<h3 class="testimonials">Testimonials</h3>

	<p class="testimonial">“The wonderful thing about Portray Advertising, is that they’ve developed a vehicle that delivers impressions, but with relevant context. With the right messaging we can inform consumers that the deal, that item they want to get to, is only a minute walk away; therefore driving substantial engagements to retail.”</p>
	<p class="quote_by">- Jason West <span class="where_from">Group Account Director, Capital C</span></p>

	<p class="testimonial">“There are a lot of elements of traditional advertising that are effective. But if you can push the envelope and look at untraditional ways to do traditional advertising, that’s where you’re going to be successful.”</p>
	<p class="quote_by">- Tina Santoro <span class="where_from">Senior Manager, American Express</span></p>

</div>
