<div id="opener_ad_solutions">
</div>

<div id="middle_content">
	
	<h2>Our Advertising Solutions</h2>
	
	<p>Portray Advertising provides a unique and innovative marketing solution for all businesses.  Our out-of-home methodology provides an interactive and effective means of communicating with potential and existing customers.   With consumers spending a substantial amount of time eating per day, Portray Advertising allows businesses to capitalize on this face time through marketing initiatives on food trays.  This extended exposure relative to other media channels, enhances marketing influence because of increased retention. The additional benefits of our marketing platform are:</p>

	<ul>
		<li>A media free environment ensures high visibility; no competing messages or distractions</li>
		<li>Advertising in a social environment acts as a catalyst for word of mouth advocates</li>
		<li>We provide an opportunity to integrate traditional and digital media platforms</li>
		<li>Consumers directly interact with our advertising medium ensuring you get noticed</li>
		<li>purchasing state of mind and within close proximity of stores increased relevancy</li>
		<li>through in some stats about mall purchasing behaviour</li>
		<li>through in stats about current annual traffic for all Portray Advertising cafeterias</li>
	</ul>
	
	
	<div>
		<%= image_tag "/assets/portray_pics/black_tray2_375.png", alt: "Portray Product", style: "float:left;" %>
		<%= image_tag "/assets/portray_pics/tray_overlaps_375.png", alt: "Portray Product", style: "float:left;margin-left:50px;" %>
	</div>

	<h3>Testimonials</h3>
	
	<p id="testimonial">“The wonderful thing about Portray Advertising, is that they’ve developed a vehicle that delivers impressions, but with relevant context. With the right messaging we can inform consumers that the deal, that item they want to get to, is only a minute walk away; therefore driving substantial engagements to retail.” - Jason West, Group Account Director – Capital C</p>
	
	<p id="testimonial">“There are a lot of elements of traditional advertising that are effective. But if you can push the envelope and look at untraditional ways to do traditional advertising, that’s where you’re going to be successful.” - Tina Santoro, Senior Manager – American Express</p>

	Picture
	- picture of person eating on our tray with a group of people??
	- picture of the different demographics that eat in malls (average joes/corporate/students)??
	- picture of mass volumes of people in food courts??

</div>
