<div id="opener_caf_solutions">
</div>

<div id="middle_content">
	
	<h2>Our Cafeteria Solutions</h2>

<p class="text">Portray Advertising provides an opportunity to improve your food court or cafeteria. Our innovative developments to the food tray have increased ergonomics to improve stability and ease of use.  In addition to the advanced functionality, the chic design enhances consumer dining experiences. Furthermore, Portray Advertising understands the importance of increasing the bottom line for business owners. Thus, we provide food trays at no cost and have created unique revenue sharing programs for zero investment and no management.</p>

<p id="learn_more"><a href="#">Contact us</a> now to learn more about how we can help improve your business.</p> 

<div>
	<%= image_tag "/assets/portray_pics/black_tray_375.png", alt: "Portray Product", style: "float:left;", id: "framed" %>
	<%= image_tag "/assets/portray_pics/eating_tray_375.png", alt: "Portray Product", style: "float:left;margin-left:18px;", id: "framed" %>
</div>

<h3 class="testimonials">Testimonials</h3>

<p class="testimonial">“This is a testimonial about how Portray's improvements will affect the speaker's cafeteria.”</p>
<p class="quote_by">- Person x <span class="where_from">Food &amp; Bev Company</span></p>

<p class="testimonial">“This is a testimonial about the handles, stability, modern look.”</p>
<p class="quote_by">- Person x <span class="where_from">Food &amp; Bev Company</span></p>

<p class="testimonial">“Better experience, lower operating costs.”</p>
<p class="quote_by">- Person x <span class="where_from">Food &amp; Bev Company</span></p>

</div>