<div id="opener_caf_solutions">
</div>

<div id="middle_content">
	
	<h2>Our Cafeteria Solutions</h2>

<p>Portray Advertising provides an opportunity to improve your food court or cafeteria. Our innovative developments to the food tray have increased ergonomics to improve stability and ease of use.  In addition to the advanced functionality, the chic design enhances consumer dining experiences. Furthermore, Portray Advertising understands the importance of increasing the bottom line for business owners. Thus, we provide food trays at no cost and have created unique revenue sharing programs for zero investment and no management.  Contact us now to learn more about how we can help improve your business.</p>

<div>
	<%= image_tag "/assets/portray_pics/black_tray_375.png", alt: "Portray Product", style: "float:left;" %>
	<%= image_tag "/assets/portray_pics/eating_tray_375.png", alt: "Portray Product", style: "float:left;margin-left:50px;" %>
</div>

<h3>Testimonials</h3>
	<ul>
		<li>need to get someone to speak to the improvements and how that will affect their cafeteria</li>
		<li>handles</li>
		<li>more stable/lower center of gravity</li>
		<li>modern look makes the customer experience better than old archaic trays</li>
		<li>speak to lowered operating costs and unique revenue stream</li>
	</ul>

Picture
- Picture of food court/cafeterias filled with people
- picture of someone walking with our tray filled with food

</div>