<div id="opener_caf_solutions">
</div>

<div id="middle_content">
	
	<h2>Cafeteria Solutions
		<span class='st_email icon_right'></span>
		<span class='st_linkedin icon_right'></span>
		<span class='st_twitter icon_right'></span>
		<span class='st_facebook icon_right'></span>
	</h2>

<p class="text">Portray Advertising provides an opportunity to improve your food court or cafeteria. Our innovative developments to the food tray have increased ergonomics to improve stability and ease of use.  In addition to the advanced functionality, the chic design enhances consumer dining experiences. Furthermore, Portray Advertising understands the importance of increasing the bottom line for business owners. Thus, we provide food trays at no cost and have created unique revenue sharing programs for zero investment and no management.</p>

<p id="learn_more"><a href="#">Contact us</a> now to learn more about how we can help improve your business.</p> 

<div>
	<%= image_tag "/assets/portray_pics/black_tray_375.png", alt: "Portray Product", style: "float:left;", id: "framed" %>
	<%= image_tag "/assets/portray_pics/eating_tray_375.png", alt: "Portray Product", style: "float:left;margin-left:18px;", id: "framed" %>
</div>

<h3 class="testimonials">Testimonials</h3>
<br/>
<!-- My Slider  -->
<ul class="bxslider">
	<li><div><p class="quote">“We are thrilled to have partnered with Portray Advertising. Together we will offer children in vulnerable areas a safe environment that helps foster their self-esteem.”<br/><br/>
		<span class="quote_by"> - Abby Bagwell, Breakfast Clubs of Canada</span></p></div></li>
		
	<li><div><p class="quote">“I see students who are more engaged in learning, getting better test scores, and showing more positive behaviour – all because they can focus better from having their nutritional needs met.”<br/><br/>
	<span class="quote_by">- Heather Hempstock, Teacher - Peavine, AB</span></p></div></li>
		
	<li><div><p class="quote">“There have been many positive changes in student behaviour since the breakfast program has begun. Students are much more alert during classes, student attendance has improved, so has overall student academic achievement because students are now able to focus on their work instead of their hunger. This program is invaluable to our school!”<br/><br/>
		<span class="quote_by">- Angela Hodgins, Teacher - Sudbury, ON</span></p></div></li>

</ul>

<!-- end slider -->

</div>