<div id="opener_contact_us">
</div>

<div id="middle_content">
	
<h2 class="title">Contact Us</h2>

<div class="row-fluid founders">
	<div class="span6">
		<h3>Kyle Boult</h3>
		<h5>Corporate Development</h5>
		<p>204.510.6584</p>
		<p><a href="mailto:kyle@portrayadvertising.com">kyle@portrayadvertising.com</a></p>
	</div>
	<div class="span6">
		<h3>Greg Lipschitz</h3>
		<h5>Corporate Development</h5>
		<p>204.292.3879</p>
		<p><a href="mailto:greg@portrayadvertising.com">greg@portrayadvertising.com</a></p>
	</div>
</div>
</div>