<div id="opener_our_partner">
</div>

<div id="middle_content">
	
	<h2 class="title">Our Partner: Breakfast Clubs of Canada
		
		<span class='st_email_large icon_right'></span>
		<span class='st_twitter_large icon_right'></span>
		<span class='st_facebook_large icon_right'></span>
	
	</h2>
	
<p class="text" style="width:72%;float:left;">Breakfast Clubs of Canada (BCC) is a national non-for-profit organization dedicated to feeding children in low-income neighbourhoods across the country. It is BCC’s dream that all children have an equal chance to start their school day with a nutritious breakfast in an environment that fosters self-esteem.<br /><br />
	BCC provides funding, equipment, food donation and management tools to 1170 school breakfast programs that are serving 18 million breakfasts a year to more than 118,000 schoolchildren. They accomplish this work with the help of both individual, corporate and field partners, all committed to the cause of feeding our children’s future. By providing ongoing support to breakfast programs every school day, our organization helps schools and communities build up the next generation.<br/><br/>
	Portray Advertising is committed to donating 3% of revenues to the Breakfast Clubs of Canada in cash and services.</p>
<div style="width:23%;padding-left:2%;float:right;padding-top:45px;">	
	<%= image_tag "/assets/bcc.jpeg", alt: "Breakfast Clubs of Canada Logo" %>
</div>
<br />
<div style="clear:both;width:100%;height:230px;margin:10px 0;">
	<%= image_tag "/assets/portray_pics/partner_pic_375.jpg", alt: "Portray Product", class: "framed framed-first" %>
	<%= image_tag "/assets/portray_pics/tray_bclub_375.png", alt: "Portray Product", class: "framed framed-second" %>
</div>

<br/>
<!-- My Slider  -->
<ul class="bxslider">
	<li><div><p class="quote">“We are thrilled to have partnered with Portray Advertising. Together we will offer children in vulnerable areas a safe environment that helps foster their self-esteem.”<br/><br/>
		<span class="quote_by"> - Abby Bagwell, Breakfast Clubs of Canada</span></p></div></li>
		
	<li><div><p class="quote">“I see students who are more engaged in learning, getting better test scores, and showing more positive behaviour – all because they can focus better from having their nutritional needs met.”<br/><br/>
	<span class="quote_by">- Heather Hempstock, Teacher - Peavine, AB</span></p></div></li>
		
	<li><div><p class="quote">“There have been many positive changes in student behaviour since the breakfast program has begun. Students are much more alert during classes, student attendance has improved, so has overall student academic achievement because students are now able to focus on their work instead of their hunger. This program is invaluable to our school!”<br/><br/>
		<span class="quote_by">- Angela Hodgins, Teacher - Sudbury, ON</span></p></div></li>

</ul>

<p id="learn_more">To learn more about Breakfast Clubs of Canada, please visit <a href="www.BreakfastClubsCanada.org">the Breakfast Clubs Official Website</a>.</p> 


<!-- end slider -->

</div>