<div id="opener_our_partner">
</div>

<div id="middle_content">
	
	<h2>Our Partner: Breakfast Clubs of Canada</h2>
	
<p>Breakfast Clubs of Canada is a national non-for-profit organization dedicated to feeding children in low-income neighbourhoods across the country. It is Breakfast Clubs of Canada’s dream that all children have an equal chance to start their school day with a nutritious breakfast in an environment that fosters self-esteem. We provide funding, equipment, food donation and management tools to 1170 school breakfast programs that are serving 18 million breakfasts a year to more than 118,000 schoolchildren. We accomplish this work with the help of both individual, corporate and field partners, all committed to the cause of feeding our children’s future. By providing ongoing support to breakfast programs every school day, our organization helps schools and communities build up the next generation.</p>

<p>To learn more about Breakfast Clubs of Canada and to find out how you can get involved, please visit <a href="www.BreakfastClubsCanada.org">the Breakfast Clubs Official Website</a>.</p> 

	
<div>
	<%= image_tag "/assets/portray_pics/partner_pic_375.jpg", alt: "Portray Product", style: "float:left;" %>
	<%= image_tag "/assets/portray_pics/tray_bclub_375.png", alt: "Portray Product", style: "float:left;margin-left:50px;" %>
</div>

<h3>Testimonials</h3>

<em>“We are thrilled to have partnered with Portray Advertising. Together we will offer children in vulnerable areas a safe environment that helps foster their self esteem”</em>
-Abby Bagwell 
Partnerships Liaison, Breakfast Clubs of Canada

<em>“I see students who are more engaged in learning, getting better test scores, and showing more positive behaviour – all because they can focus better from having their nutritional needs met.”</em>
-Heather Hempstock
 Teacher - Peavine, AB

<em>“There have been many positive changes in student behaviour since the breakfast program has begun. Students are much more alert during classes, student attendance has improved, so has overall student academic achievement because students are now able to focus on their work instead of their hunger. This program is invaluable to our school!”</em>
-Angela Hodgins,
Teacher - Sudbury, ON

Pictures
- Picture of children at breakfast club eating
- Have their logo on our page somewhere as well

</div>