<div id="opener_our_partner">
</div>

<div id="middle_content">
	
	<h2 class="title">Our Partner: Breakfast Clubs of Canada		
		<span class='st_email_large icon_right'></span>
		<span class='st_twitter_large icon_right'></span>
		<span class='st_facebook_large icon_right'></span>	
	</h2>
	
<p class="text" style="width:60%;float:left;">Breakfast Club of Canada was founded on the belief that every child has the right to succeed in life, to grow in their self-esteem and self-confidence, and most of all have safe and reliable access to food. A national not-for-profit organization, The Club began serving meals to children in 1994 and have made great strides over the past 19 years to reach those children and youth in need.<br /><br />
	Our partnership with The Club allows us to work together to provide nutritionally balanced, healthy breakfasts to children and youth in an environment that is safe, inclusive and builds self-esteem. Supporting The Club injects resources into nutritional programs, enriches children’s health, delivers food and equipment to communities, and supports a brighter future for our children and youth, one bite at a time.<br/><br/>
	Thanks to The Club 125,000 students have access to a nutritious breakfast each morning in 1,215 schools across Canada.  By providing ongoing support to breakfast programs every school day, our organization helps schools and communities build up the next generation.
	<br/><br/>
	Portray Advertising is committed to donating 3% of revenues to the Breakfast Club of Canada in cash and services, as well as raising awareness of The Club by providing media space on our serving trays.</p>
<div style="width:35%;padding-left:2%;float:right;padding-top:45px;">	
	<%= image_tag "/assets/breakfast_club_partner.png", alt: "Breakfast Clubs of Canada Logo" %>
</div>
<br />
<div style="clear:both;width:100%;margin:10px 0;text-align:center;">
	<%= image_tag "/assets/young_man_bcc.png", alt: "Young Man", class: "framed" %>
</div>
<br/>

<div class="section-4" style="width:100%;border-right:1px solid #E0E0E0;border-left:1px solid #E0E0E0;">
  <div class="container" style="width:100%;">
    <!-- Strip with button -->
    <div class="row-fluid">
      <div class="span12">
        <h2>Learn more about the Breakfast Clubs of Canada.</h2>
        <p>Our valued partners are doing great things for children across Canada.</p>
        <a href="http://www.breakfastclubscanada.org/" class="btn btn-large btn-success" target="_blank"><i class="icon-globe icon-white"></i>&nbsp; Visit the Official Website</a> </div>
    </div>
  </div>
</div>
<br/>

<!-- My Slider  -->
<ul class="bxslider">
	<li><div><p class="quote">“We are thrilled to have partnered with Portray Advertising. Together we will offer children in vulnerable areas a safe environment that helps foster their self-esteem.”<br/><br/>
		<span class="quote_by"> - Abby Bagwell, Breakfast Clubs of Canada</span></p></div></li>
		
	<li><div><p class="quote">“I see students who are more engaged in learning, getting better test scores, and showing more positive behaviour – all because they can focus better from having their nutritional needs met.”<br/><br/>
	<span class="quote_by">- Heather Hempstock, Teacher - Peavine, AB</span></p></div></li>
		
	<li><div><p class="quote">“There have been many positive changes in student behaviour since the breakfast program has begun. Students are much more alert during classes, student attendance has improved, so has overall student academic achievement because students are now able to focus on their work instead of their hunger. This program is invaluable to our school!”<br/><br/>
		<span class="quote_by">- Angela Hodgins, Teacher - Sudbury, ON</span></p></div></li>

</ul>

<!-- end slider -->

</div>