<% title("Thanks", false) %>
<h1>Thanks</h1>
<h3>Your message was received</h3>
<p>We aim to respond to every single one of our requests, please watch your inbox for our reply!</p>
<br/>
<p class="text-center"><%= link_to "Go Back", session[:return_to], class: "button medium" %></p>