body {
  font-family: "Open Sans", sans-serif;}

.main-wrap {
	width:90%;
	margin:0 auto;
	height:100%;
}

#pre-header {
	height:28px;
	width:100%;
	text-align:center;
	background-color:#fa2500;
}

#pre-header p {
	display:block;
	width:195px;
	line-height:22px;
	padding-top:4px;
	color:white;
	font-size:22px;
	font-weight:900;
	font-family: Arial;
	margin:0 auto;
	background: url(phone.png) left center no-repeat;
}

#header {
  width: 95%;
	margin:0 auto;
  height: 80px;
	padding:5px 2.5%;
  position: relative;
	background-color: white;
	z-index: 999;
	-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.75);}

  #header #logo_container {
    float:left;
		margin-top:10px;}

  #header nav {
		margin-top:33px;
 		float:right;}

    #header nav li {
      list-style: none;
      display: inline;
      padding: 0px 12px;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase; }

      #header nav li a {
        text-decoration: none;
        color: #353535;}

      #header nav li a:hover {
        color: red;
				cursor:pointer;}
				
      #header nav li a:active {
        color: red; }

			#header nav li a.contact {
				background-color:red;
				padding:8px 12px;
				color:white;
			}

#header nav li.dd-toggle {
	display:none;
}


.right-footer-block {
	 padding-top:40px;
	 text-align:right;
}

.highlight {
	color:#7F0B09;
	font-style:bold;
}

.fabric {
	background: url('patterns/fabric_of_squares_gray.png') 0 0 repeat;
}

/* Video Popup */

#popi-bg {
  background: url('/assets/bg-checker.png') repeat scroll 0 0 transparent;
  border: 1px solid #CECECE;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 700;
	opacity: 1;
}
#overlay_form{
display:none;
border-radius: 1px;
border: 1px solid gray;
padding: 10px;
background: #fafafa;
width:800px;
background-color:#efefef;
box-shadow:0 0 1000px rgba(0,0,0,0.9);
}
 
#close2 {
		background: url('/assets/close-contact.png') no-repeat scroll 0 0 transparent;
    display: block;
    float: right;
    height: 26px;
    margin: 5px 0 0;
    width: 67px; cursor:pointer;}

#popi-bg {  opacity: 0.7; display:none;}
 
.vid-wrap { z-index:800;	margin: auto;padding-bottom:20px;}


/* Homepage */

h2.tri-feature {
	font-size:24px;
}

h3.side_lined {
	text-align:center;
	font-size:30px;
	padding-top:22px;
}

h3.side_lined::before {
  left: 80px; }

h3.side_lined::before, h3.side_lined::after {
  content: '';
  width: 30%;
  height: 1px;
  background: #222;
  position: absolute;
  top: 12.5%; }

h3.side_lined::after {
  right: 80px;
  left: auto; }

/* Openers */

#opener_about_us, #opener_contact_us {
  width: 100%;
  height: 248px;
  background-color: black;
  background-image: url(black_tray_wide.png);
  background-position: center;
  background-repeat: no-repeat; }

#opener_our_partner {
  width: 100%;
  height: 248px;
  background-color: black;
  background-image: url(kids_wide.jpeg);
  background-position: center;
  background-repeat: no-repeat; }

#opener_ad_solutions {
  width: 100%;
  height: 248px;
  background-color: black;
  background-image: url(dundas_wide.JPG);
  background-position: center;
  background-repeat: no-repeat; }

#opener_caf_solutions {
  width: 100%;
  height: 248px;
  background-color: black;
  background-image: url(caf_wide.JPG);
  background-position: center;
  background-repeat: no-repeat; }

#middle_content {
  width: 80%;
	max-width:1200px;
  margin: 0 auto;
	background:rgba(255,255,255,0.8);
	box-shadow:0 2px 2px #666;
	padding:0 20px 2px 20px;}
  #middle_content p.text {
		float:left;
    margin: 10px 0px 40px 0;
    font-size: 16px;
    line-height: 23px;}
	#middle_content	a {
			text-decoration:none;
			color:013440;}
  #middle_content p#quote {
    clear: left;
    font-size: 24px;
    line-height: 30px;
    font-style: italic;
    text-align: center;
    padding-top: 20px; }
  #middle_content p#testimonial {
    clear: left;
    font-size: 18px;
    line-height: 23px;
    font-style: italic; }


.founders.row-fluid {
	padding:10px 0 40px 10px;
}

.founders .span6 h5 {
	font-size:18px;
	color:#353535;
}

.founders .span6 p {
	margin-bottom:5px;
}

.founders .span6 p a {
	color:red;
}

ul#benefits {
	clear:left;
	list-style-type: square;
	padding-bottom:25px;
}

ul#benefits li {
	margin-left:20px;
	padding:5px 0px;
}

p#learn_more {
	clear:left;
	text-align:center;
	font-style:italic;
	font-size:16px;
	padding-bottom:30px;
}


h2.title {
  font-size: 30px;
  padding:15px 10px;
  margin-bottom: 10px;
	margin-top:-65px;
	background:rgba(255,255,255,0.02);
	text-shadow:0 1px 1px #f4f4f4;
	}

.icon_right {
	float:right;
	margin-top:0;
}

h3.testimonials {
	clear:left;
	padding:30px 0px 12px 0px;
	font-size:20px;
	text-align:center;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#002635;
	border-bottom: 4px double #E0E0E0;
}

.framed {
	border: 8px solid white;
	-webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 3px 1px rgba(0,0,0,0.15);
	box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15);
}

.framed-second {
	margin-left:50px;
}

p.testimonial {
	margin:20px 0px 10px 0px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:15px;
	font-weight:100;
	font-style:italic;
	color:#002635;
	font-size: 16px;
  line-height: 23px;
}

span.quote_by {
	text-align:left;
	color:#013440;}

span.where_from {
		font-size:11px;
		text-transform:uppercase;
		color:#7F0B09;
		margin-left:5px;
	}

/* Quote Slider*/


/* Updated Code */

	.active {
		border-bottom: 2px solid #49992d;
	}
	.bxslider {
		clear: both;
		position: relative;
	}
	#pager {
		margin: 0 auto;
	}
	#pager a {
		width: 200px;
		margin: 0px 11px;
	}
	.bxslider a {
		margin-top: 0 auto;
		width: 300px;
	}
	.bxslider li {
		height:auto;
	}
	.quote span {
		float:right;
		color:#222;
	}
	.quote {
		width: 700px;
		vertical-align: middle;
		margin: 0 auto;
		padding: 30px 0 40px 0;
		font-size: 21px;
		font-style: italic;
		color: #767676;
		text-align: justify;
		font-family: "georgia","Times",serif;
		font-weight: 100;
		line-height:1.2;
	}


/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
	clear:left;
	position: relative;
	margin: 20px 0 40px;
	padding: 0;
	*zoom: 1;
}

.bx-wrapper img {
	width: 100%;
	display: block;
}

/* Border of the slideContent */

.bx-wrapper .bx-viewport {
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
	border: solid #fff 5px;
	left: -5px;
	background: #fff;
}


/** THEME
===================================*/

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -30px;
	width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
	min-height: 150px;
	background: url(bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #666;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
	left: 10px;
	background: url(controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
	right: 10px;
	background: url(controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 9999;
	padding-top:15px;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(controls.png) -86px -11px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(images/controls.png) -86px -44px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}

.bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px;
}

 /* ######## 18 -  Responsive Layout  ######  */

@media(min-width: 980px) and (max-width: 1200px) { 

}

@media(min-width: 768px) and (max-width: 979px) { 
	
	#header nav li {
		font-size:13px;
		padding:0 10px;
	}
	h3.side_lined::before {
	  left: 80px; }

	h3.side_lined::before, h3.side_lined::after {
	  content: '';
	  width: 20%;
	  height: 1px;
	  background: #222;
	  position: absolute;
	  top: 10.5%; }

	h3.side_lined::after {
	  right: 80px;
	  left: auto; }
}

@media(min-width: 480px) and (max-width: 767px) {
	#header {
		width:98%;
		padding:0 0 0 2%;
		position:relative;
	}
	
	#logo_container img {
		width: 140px;
		margin-top: 10px;
	}
	
	#header nav li.norm { display:none; }
	
	#header nav li.dd-toggle { display:inline; margin:10px 20px 0; background-color:#888; padding:4px 5px 6px 5px; }

	#header nav ul.dropdown_menu {
		width: 180px;
		overflow: hidden;
		border: 1px solid #ddd;
		background-color: #f1f1f1;
		position: absolute;
		right: 10px;
		top: 30px;
		z-index: 9999;
	}

	#header nav ul.dropdown_menu li {
		display:block;
		width:100%;
		color:black;
		margin:0;
		text-align:center;
		height:20px;
		padding-left:0;
	}

	#header nav ul.dropdown_menu li a {
		color:black;
	}

	#header nav ul.dropdown_menu li a:hover {
		color:red;
	}
	
	h3.side_lined::before {
	  left: 40px; }

	h3.side_lined::before, h3.side_lined::after {
	  content: '';
	  width: 20%;
	  height: 1px;
	  background: #222;
	  position: absolute;
	  top: 4.5%; }

	h3.side_lined::after {
	  right: 40px;
	  left: auto; }

		.left-footer-block {
			 text-align:center;
		}
		
		.left-footer-block ul#social {
			 width:50%;
			 margin:0 auto;
		}
		
		.right-footer-block {
			 padding-top:20px;
			 text-align:center;
		}
		
		a#toTop {
			float:none;
			display:block;
			margin:0 auto;
		}
	
}

 @media(max-width:480px) {  
	
	#logo_container img {
		width: 140px;
		margin-top: 10px;
	}
	
	#header nav li.norm { display:none; }

	#header nav li.norm { display:none; }
	
	#header nav li.dd-toggle { display:inline; margin:10px 20px 0; background-color:#888; padding:4px 5px 6px 5px; }

	#header nav ul.dropdown_menu {
		width: 180px;
		overflow: hidden;
		border: 1px solid #ddd;
		background-color: #f1f1f1;
		position: absolute;
		right: 10px;
		top: 30px;
		z-index: 9999;
	}

	#header nav ul.dropdown_menu li {
		display:block;
		width:100%;
		color:black;
		margin:0;
		text-align:center;
		height:20px;
		padding-left:0;
	}

	#header nav ul.dropdown_menu li a {
		color:black;
	}

	#header nav ul.dropdown_menu li a:hover {
		color:red;
	}
	
	h3.side_lined::before {
	  left: 10px; }

	h3.side_lined::before, h3.side_lined::after {
	  content: '';
	  width: 20%;
	  height: 1px;
	  background: #222;
	  position: absolute;
	  top: 4.5%; }

	h3.side_lined::after {
	  right: 10px;
	  left: auto; }
	
		.left-footer-block {
			 text-align:center;
		}
		
		.left-footer-block ul#social {
			 width:60%;
			 margin:0 auto;
		}
		.right-footer-block {
			 padding-top:10px;
			 text-align:center;
		}
		
		.list-banners li {
			width:90%;
		}
		
		a#toTop {
			float:none;
			display:block;
			margin:0 auto;
		}
 }