<!DOCTYPE html>
<html>
<head>
  <title>Portray Advertising - The World's Smartest Food Trays</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Assets -->
		
	<!-- end Assets -->
	
	<%= favicon_link_tag 'portray_p.ico' %>
	
	<style type="text/css">
		h1 { font-family:Helvetica, Arial, sans-serif; font-weight:100; }
		.main { width:50%;margin:0 auto; }
		.main img { width:100%; margin:100px 0 20px 0;text-transform:uppercase;}
	</style>
	
</head>

<body style="text-align:center;background-color:#ddd;">
	<div class="main">
<%= yield %>
	</div>
	
</body>
</html>
